<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="<%= style_url %>">
  <title></title>
</head>
<body>
<div id="main-app"></div>
<script src="<%= vendor_url %>"></script>
<script src="<%= script_url %>"></script>
</body>
</html>